<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Items</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/animal_items.css" %}">

</head>
<body>
    <nav class="navbar container">
        <h1><a href="../../../../" style="color: #00a7ff;">FoodFeed</a></h1>
        <ul>
            <li><a href="#">Cart 🛒</a></li>
        </ul>
    </nav>


    <div style="width: 100%; display: flex; justify-content: center; margin-top: 100px;">
        <img src="{% static "img/food.jpg" %}" alt="dogs" style="margin: 0 auto; width: 300px;">
    </div>


    <main class="main">

        <a class="items" href="./food-name-1" style="text-decoration: none;">
            <img src="{% static "img/animal_items.jpg" %}" alt="food-1" style="width: 200px; height: 220px;">
            <p style="font-family: sans-serif; font-weight: bold; max-width: 170px; color: black">Lorem ipsum dolor sit amet.</p>
            <p style="font-family: sans-serif; font-weight: bold; font-size: 20px; color: rgb(255, 99, 125);">500$ / 1.5kg</p>
            <p style="max-width: 150px; color: grey;">Order delivery approximately between 11am : 4pm tomorrow <span style="color: blue;">Sold by Premium</span></p>

        </a>

        <a class="items" href="#" style="text-decoration: none;">
            <img src="{% static "img/animal_items.jpg" %}" alt="food-1" style="width: 200px; height: 220px;">
            <p style="font-family: sans-serif; font-weight: bold; max-width: 170px; color: black">Lorem ipsum dolor sit amet.</p>
            <p style="font-family: sans-serif; font-weight: bold; font-size: 20px; color: rgb(255, 99, 125);">500$ / 1.5kg</p>
            <p style="max-width: 150px; color: grey;">Order delivery approximately between 11am : 4pm tomorrow <span style="color: blue;">Sold by Premium</span></p>

        </a>

        <a class="items" href="#" style="text-decoration: none;">
            <img src="{% static "img/animal_items.jpg" %}" alt="food-1" style="width: 200px; height: 220px;">
            <p style="font-family: sans-serif; font-weight: bold; max-width: 170px; color: black">Lorem ipsum dolor sit amet.</p>
            <p style="font-family: sans-serif; font-weight: bold; font-size: 20px; color: rgb(255, 99, 125);">500$ / 1.5kg</p>
            <p style="max-width: 150px; color: grey;">Order delivery approximately between 11am : 4pm tomorrow <span style="color: blue;">Sold by Premium</span></p>

        </a>

        <a class="items" href="#" style="text-decoration: none;">
            <img src="{% static "img/animal_items.jpg" %}" alt="food-1" style="width: 200px; height: 220px;">
            <p style="font-family: sans-serif; font-weight: bold; max-width: 170px; color: black">Lorem ipsum dolor sit amet.</p>
            <p style="font-family: sans-serif; font-weight: bold; font-size: 20px; color: rgb(255, 99, 125);">500$ / 1.5kg</p>
            <p style="max-width: 150px; color: grey;">Order delivery approximately between 11am : 4pm tomorrow <span style="color: blue;">Sold by Premium</span></p>

        </a>

        <a class="items" href="#" style="text-decoration: none;">
            <img src="{% static "img/animal_items.jpg" %}" alt="food-1" style="width: 200px; height: 220px;">
            <p style="font-family: sans-serif; font-weight: bold; max-width: 170px; color: black">Lorem ipsum dolor sit amet.</p>
            <p style="font-family: sans-serif; font-weight: bold; font-size: 20px; color: rgb(255, 99, 125);">500$ / 1.5kg</p>
            <p style="max-width: 150px; color: grey;">Order delivery approximately between 11am : 4pm tomorrow <span style="color: blue;">Sold by Premium</span></p>

        </a>

        <a class="items" href="#" style="text-decoration: none;">
            <img src="{% static "img/animal_items.jpg" %}" alt="food-1" style="width: 200px; height: 220px;">
            <p style="font-family: sans-serif; font-weight: bold; max-width: 170px; color: black">Lorem ipsum dolor sit amet.</p>
            <p style="font-family: sans-serif; font-weight: bold; font-size: 20px; color: rgb(255, 99, 125);">500$ / 1.5kg</p>
            <p style="max-width: 150px; color: grey;">Order delivery approximately between 11am : 4pm tomorrow <span style="color: blue;">Sold by Premium</span></p>

        </a>

        <a class="items" href="#" style="text-decoration: none;">
            <img src="{% static "img/animal_items.jpg" %}" alt="food-1" style="width: 200px; height: 220px;">
            <p style="font-family: sans-serif; font-weight: bold; max-width: 170px; color: black">Lorem ipsum dolor sit amet.</p>
            <p style="font-family: sans-serif; font-weight: bold; font-size: 20px; color: rgb(255, 99, 125);">500$ / 1.5kg</p>
            <p style="max-width: 150px; color: grey;">Order delivery approximately between 11am : 4pm tomorrow <span style="color: blue;">Sold by Premium</span></p>

        </a>

        <a class="items" href="#" style="text-decoration: none;">
            <img src="{% static "img/animal_items.jpg" %}" alt="food-1" style="width: 200px; height: 220px;">
            <p style="font-family: sans-serif; font-weight: bold; max-width: 170px; color: black">Lorem ipsum dolor sit amet.</p>
            <p style="font-family: sans-serif; font-weight: bold; font-size: 20px; color: rgb(255, 99, 125);">500$ / 1.5kg</p>
            <p style="max-width: 150px; color: grey;">Order delivery approximately between 11am : 4pm tomorrow <span style="color: blue;">Sold by Premium</span></p>

        </a>

        <a class="items" href="#" style="text-decoration: none;">
            <img src="{% static "img/animal_items.jpg" %}" alt="food-1" style="width: 200px; height: 220px;">
            <p style="font-family: sans-serif; font-weight: bold; max-width: 170px; color: black">Lorem ipsum dolor sit amet.</p>
            <p style="font-family: sans-serif; font-weight: bold; font-size: 20px; color: rgb(255, 99, 125);">500$ / 1.5kg</p>
            <p style="max-width: 150px; color: grey;">Order delivery approximately between 11am : 4pm tomorrow <span style="color: blue;">Sold by Premium</span></p>

        </a>

        <a class="items" href="#" style="text-decoration: none;">
            <img src="{% static "img/animal_items.jpg" %}" alt="food-1" style="width: 200px; height: 220px;">
            <p style="font-family: sans-serif; font-weight: bold; max-width: 170px; color: black">Lorem ipsum dolor sit amet.</p>
            <p style="font-family: sans-serif; font-weight: bold; font-size: 20px; color: rgb(255, 99, 125);">500$ / 1.5kg</p>
            <p style="max-width: 150px; color: grey;">Order delivery approximately between 11am : 4pm tomorrow <span style="color: blue;">Sold by Premium</span></p>

        </a>



    </main>


    <footer class="footer container">
        <img src="{% static "img/dogs.jpg" %}" alt="footer-image" style="width: 400px; height: 200px; border-radius: 10px;">
        <p style="display: flex; justify-content: space-around; width: 900px;">
            <a href="#">About us</a>|
            <a href="#">FAQ</a>|
            <a href="#">Privacy Policy</a>|
            <a href="#">Delivery & Return Policy</a>|
            <a href="#">Contact Us</a>

        </p>
    </footer>

</body>
</html>