<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Animal Name</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <nav class="navbar container">
        <h1><a href="../../../../" style="color: #00a7ff;">FoodFeed</a></h1>
        <ul>
            <li><a href="#">Cart 🛒</a></li>
        </ul>
        
    </nav>

{#    <h1>{{ animal_items }}</h1>#}
{#    <h1>{{ food_types }}</h1>#}
{#    <h1>{{ image_2 }}</h1>#}

    <div style="width: 100%; display: flex; justify-content: center; margin-top: 100px;">
        <img src="../static/img/{{ image_2.0.image_2 }}" style="margin: 0 auto;">
    </div>

    {% for i in animal_items %}
        <div class="items_types" style="width: 90%; height: 250px; margin-top: 100px; padding-left: 100px;">
        <p style="color: #00a7ff;"><span style="color: #00a7ff; font-size: 40px; font-family: sans-serif;">{{ i.item_name.title }}</span>  |  <a href="./{{ i.item_name }}/show_all" style="text-decoration: none; color: #00a7ff;font-family: sans-serif">Shop All</a></p>
        
        <div style="display: flex; justify-content: space-around;">

            {% for j in food_types %}
                {% if j.connected_to_animal_items_id == i.id %}
                    <a style="display: flex; flex-direction: column; justify-content: space-around; align-items: center; text-decoration: none; color: black;" href="./{{ i.item_name }}/{{ j.type_name }}/">
                        <img src="../static/img/{{ j.image }}" alt="image" style="width: 100px; height: 110px; border-radius: 5px;">
                        <p style="font-weight: bold; font-size: 20px;">{{ j.type_name }}</p>
                    </a>
                {% endif %}
            {% endfor %}

        </div>
    
    </div>
    {% endfor %}


    <footer class="footer container">
        <img src="{% static "img/images/logo.png" %}" alt="footer-image" style="width: 400px; height: 200px; border-radius: 10px;">
        <p style="display: flex; justify-content: space-around; width: 900px;">
            <a href="#">About us</a>|
            <a href="#">FAQ</a>|
            <a href="#">Privacy Policy</a>|
            <a href="#">Delivery & Return Policy</a>|
            <a href="#">Contact Us</a>

        </p>
    </footer>

    
</body>
</html>