<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Page</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/card.css">
</head>
<body>
    
    <nav class="navbar container">
        <h1><a href="../../../../" style="color: #00a7ff;">FoodFeed</a></h1>
        <ul>
            <li><a href="../../../../card">Cart 🛒</a></li>
        </ul>
    </nav>

{#    <h1>{{ animal_foods }}</h1>#}

    <div class="buy_items container">

        {% for i in animal_foods %}
            <a href="#" style="text-decoration: none; display: flex; flex-direction: column; justify-content: center; align-items: center; border: 1px solid #00a7ff;">
                <img src="../static/img/{{ i.image }}" alt="food-1" style="width: 200px; height: 220px;">
                <p style="font-family: sans-serif; font-weight: bold; max-width: 170px; color: black;">{{ i.food_name }}</p>
                <p style="font-family: sans-serif; font-weight: bold; font-size: 20px; color: rgb(255, 99, 125);">{{ i.food_price }}</p>
                <p style="max-width: 150px; color: grey;">Order delivery approximately between 11am : 4pm tomorrow <span style="color: blue;">Sold by Premium</span></p>
            </a>
        {% endfor %}

    </div>
    
    <form method="post" class="buy_form">
        <input type="text" placeholder="ism-familiya">
        <input type="number" placeholder="telefon raqam">
        <input type="text" placeholder="turgan joyingiz">
        <button type="submit">Let's buy</button>
    </form>


    <footer class="footer container">
        <img src="{% static "/img/images/logo.png" %}" alt="footer-image" style="width: 400px; height: 200px; border-radius: 10px;">
        <p style="display: flex; justify-content: space-around; width: 900px;">
            <a href="#">About us</a>|
            <a href="#">FAQ</a>|
            <a href="#">Privacy Policy</a>|
            <a href="#">Delivery & Return Policy</a>|
            <a href="#">Contact Us</a>

        </p>
    </footer>


</body>
</html>