<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Food</title>
    <link rel="stylesheet" href="{% static "/css/food.css" %}">
    <link rel="stylesheet" href="{% static "/css/main.css"%}">
</head>
<body>
    
    <nav class="navbar container">
        <h1><a href="../../../../" style="color: #00a7ff;">FoodFeed</a></h1>
        <ul>
            <li><a href="#">Cart 🛒</a></li>
        </ul>
    </nav>

{#    <h1>{{ the_food }}</h1>#}
{#    <h1>{{ likee }}</h1>#}

    <div class="food container">

        <img src="/static/img/{{ the_food.image }}" alt="food1" style="width: 400px; height: 500px;">

        <div >
            <p style="font-family: sans-serif; font-weight: bold; max-width: 300px; color: black; font-size: 24px;">
                {{ the_food.food_name}}</p>
            <p style="font-family: sans-serif; font-weight: bold; font-size: 24px; color: rgb(255, 99, 125);">{{ the_food.food_price }}</p>
            <p style="max-width: 300px; color: grey; font-size: 24px;">Order delivery approximately between 11am : 4pm tomorrow <span style="color: #00a7ff;">Sold by Premium</span></p>
            <div style="width: 90%; height: 5px; background-color: grey;"></div>
            <p style="max-width: 400px; color: grey; font-size: 24px;">{{ the_food.food_description }}</p>
        </div>

    </div>

    <form method="post" class="add_to_cart_form">
        <button type="submit">Add to Cart</button>
    </form>

    <p style="margin-top: 200px; padding-left: 50px; font-family: sans-serif; font-weight: bold;">You may also like</p>

    
        <div class="bestseller container" style="grid-template-columns: auto auto auto auto;">
            {% for i in likee %}
                <a href="#" class="bestseller_item">
                    <img src="/static/img/{{ i.image }}" style="width: 100px; height:110px;">
                    <p style="color: #00a7ff;">{{ i.food_price.split.2 }}</p>
                    <p style="color: #005a8a;">{{ i.food_name }}</p>
                    <p style="color: #9fc41d;">{{ i.food_price.split.0 }}</p>
                </a>
            {% endfor %}

        </div>

    <footer class="footer container">
        <img src="{% static "img/images/dog2.jpg" %}" alt="footer-image" style="width: 400px; height: 200px; border-radius: 10px;">
        <p style="display: flex; justify-content: space-around; width: 900px;">
            <a href="#">About us</a>|
            <a href="#">FAQ</a>|
            <a href="#">Privacy Policy</a>|
            <a href="#">Delivery & Return Policy</a>|
            <a href="#">Contact Us</a>

        </p>
    </footer>

</body>
</html>