<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My project</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <nav class="navbar container">
        <h1><a href="../../../../" style="color: #00a7ff;">FoodFeed</a></h1>
        <ul>
            <li><a href="../../../../card">Cart 🛒</a></li>
        </ul>
    </nav>

{#    <h1>{{ top_ten }}</h1>#}

    <main class="main container">

        <div class="pet">
            {% for i in data %}
                <a class="animals" href="./{{ i.animal_name }}/">
                    <p>{{ i.animal_name }}</p>
                    <img src="../static/img/{{ i.image_1 }}" style="width: 100px; height:140px;">
                </a>

            {% endfor %}

        </div>

        
        <p style="margin-top: 200px; padding-left: 50px; font-family: sans-serif; font-weight: bold;">Top Foods</p>


        <div class="bestseller container">
            {% for i in top_ten %}
                <a href="#" class="bestseller_item">
                    <img src="../static/img/{{ i.image }}" style="width: 100px; height:110px;">
                    <p style="color: #00a7ff;">{{ i.food_price.split.2 }}</p>
                    <p style="color: #005a8a;">{{ i.food_name}}</p>
                    <p style="color: #9fc41d;">{{ i.food_price.split.0 }}</p>
                </a>
            {% endfor %}

        </div>

    </main>

    <footer class="footer container">
        <img src="{% static "/img/images/dog2.jpg" %}" alt="footer-image" style="width: 400px; height: 200px; border-radius: 10px;">
        <p style="display: flex; justify-content: space-around; width: 900px;">
            <a href="#">About us</a>|
            <a href="#">FAQ</a>|
            <a href="#">Privacy Policy</a>|
            <a href="#">Delivery & Return Policy</a>|
            <a href="#">Contact Us</a>

        </p>
    </footer>

</body>
</html>