<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My project</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <nav class="navbar container">
        <h1><a href="../../../../" style="color: #00a7ff;">FoodFeed</a></h1>
        <ul>
            <li><a href="../../../../card">Cart 🛒</a></li>
        </ul>
    </nav>

    <main class="main container">

        <div class="pet">
            {% for i in data %}
                <a class="animals" href="./{{ i.animal_name }}/">
                    <p>{{ i.animal_name }}</p>
                    <img src="../media/{{ i.image_1 }}" alt="dog" style="width: 100px; height:140px;">
                </a>

            {% endfor %}

        </div>

        
        <p style="margin-top: 200px; padding-left: 50px; font-family: sans-serif; font-weight: bold;">Top 10</p>


        <div class="bestseller container">

            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
        </div>

    </main>

    <footer class="footer container">
        <img src="{% static "img/dogs.jpg" %}" alt="footer-image" style="width: 400px; height: 200px; border-radius: 10px;">
        <p style="display: flex; justify-content: space-around; width: 900px;">
            <a href="#">About us</a>|
            <a href="#">FAQ</a>|
            <a href="#">Privacy Policy</a>|
            <a href="#">Delivery & Return Policy</a>|
            <a href="#">Contact Us</a>

        </p>
    </footer>

</body>
</html>