<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My project</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <nav class="navbar container">
        <h1><a href="#">FoodFeed</a></h1>
        <ul>
            <li><a href="#">Cart 🛒</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </nav>

    <main class="main container">
        


        <div class="pet">

            <a class="animals" href="./dog/">
                <p>Dog</p>
                <img src="../static/img/dog.png" alt="dog" style="width: 100px; height:110px;">
            </a>
        
            <a class="animals" href="./cat/">
                <p>Cat</p>
                <img src="../static/img/dog.png" alt="cat" style="width: 100px; height:110px;">
            </a>
        
            <a class="animals" href="#">
                <p>Cat</p>
                <img src="../static/img/dog.png" alt="dog" style="width: 100px; height:110px;">
            </a>
        
            <a class="animals" href="#">
                <p>Dog</p>
                <img src="../static/img/dog.png" alt="dog" style="width: 100px; height:110px;">
            </a>
        
            <a class="animals" href="#">
                <p>Dog</p>
                <img src="../static/img/dog.png" alt="dog" style="width: 100px; height:110px;">
            </a>
        
            <a class="animals" href="#">
                <p>Dog</p>
                <img src="../static/img/dog.png" alt="dog" style="width: 100px; height:110px;">
            </a>
        
        </div>

        
        <p style="margin-top: 200px; padding-left: 50px; font-family: sans-serif; font-weight: bold;">Top 10</p>


        <div class="bestseller container">

            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
            
            <a href="#" class="bestseller_item">
                <img src="../static/img/dog.png" alt="dog ovqat" style="width: 100px; height:110px;">
                <p style="color: #00a7ff;">200GR</p>
                <p style="color: #005a8a;">Lorem ipsum dolor .</p>
                <p style="color: #9fc41d;">20$</p>
            </a>
        </div>

    </main>

    <footer class="footer container">
        <h1>this is footer</h1>
    </footer>

</body>
</html>